{% extends 'restaurant_admin/admin-base.html' %}

{% block title %}Main{% endblock %}

{% block body %}
<div class="body">
<h1>Admin main page</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Dish Category</button>
</form>

<div class="category">
    <ul id="sortable-category-list">
        {% for category in dish_categories %}
            <li class="sortable-item" data-id="{{ category.id }}">
                {{ category.name }}
            </li>
        {% endfor %}
    </ul>
</div>

<div class="nav-bar">
    <a href="{% url 'bar-categories' %}">Bar categories</a>
    <a href="{% url 'restaurant-info' %}">About Page</a>

</div>
</div>
{% endblock %}

