{% extends 'restaurant_admin/admin-base.html' %}

{% block title %}Main{% endblock %}

{% block body %}
<h1>Admin main page</h1>

{% for category in dish_categories %}
    <a href="{{ category.get_absolute_url }}">{{ category.dish_category_name }}</a>
{% endfor %}

<a href="{% url 'bar-categories' %}">Bar categories</a>
<a href="{% url 'restaurant-info' %}">About Page</a>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Dish Category</button>
</form>

{% endblock %}

