{% extends 'restaurant_admin/admin-base.html' %}

{% block title %}Category{% endblock %}

{% block body %}
Bar Category page


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Bar Item</button>
</form>

<h2>Bar items in this category:</h2>
<ul>
    {% for item in bar_items %}
        <li>{{ item.bar_item_name }} - {{ item.bar_item_price }}</li>
        <p>{{ item.bar_item_description }}</p>
    {% empty %}
        <p>No items in this category yet.</p>
    {% endfor %}
</ul>


{% endblock %}
