{% extends 'restaurant_admin/admin-base.html' %}

{% block title %}Category{% endblock %}

{% block body %}
Dish Category Page

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Dish Item</button>
</form>

<h2>Dish Items in this category</h2>
<ul>
    {% for item in dish_items %}
        <li>{{ item.dish_item_name }} - {{ item.dish_item_price }}</li>
        <p>{{ item.dish_item_description }}</p>
    {% empty %}
        <p>No items in this category yet.</p>
    {% endfor %}
</ul>

{% endblock %}
