{% extends 'promo/promo-base.html' %}
{% load static %}

{% block title %}Yummix{% endblock %}

{% block body %}
<h1>მომსახურების ახალი სტანდარტი</h1>


<h2>Request a Callback</h2>
<form method="post">
    {% csrf_token %}
    {{ callback_form.as_p }}
    <button type="submit">Submit</button>
</form>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
